@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  font-family: Outfit;
}
.main {
  flex: 1;
  min-height: 90vh;
  position: relative;
}
.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  margin: 1rem -1rem 1rem -1rem;
  font-family: outfit;
}
.nav img {
  /* width: 4rem; */
  mix-blend-mode: exclusion;
  width: 13.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  height: 3.5rem;
  mix-blend-mode: difference;

}

.main-container {
  max-width: 1240px;

  margin: auto;
}
.main .greet {
  margin: 25px 0px;
  font-size: 56px;
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
}
.main .greet span {
  /* background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546); */
  background: -webkit-linear-gradient(16deg, #0ed5f9, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .cards {
  display: grid;
  /* grid-template-columns: repeat(auto-fill,minmax(180px,1fr)); */
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
}
.main .card {
  height: 90px;
  line-height: 3rem;
  text-align: center;
  padding: 15px;
  background-color: #f0f4f9;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.main .card i {
  width: 35px;
  padding: 5px;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
  font-size: 1.4rem;
}
.main .card p {
  color: #585858;
  font-size: 17px;
  line-height: normal;
  padding: 1rem;
}
.main .card:hover {
  background-color: #dfe4ea;
}
.main-bottom {
  /* position: absolute; */
  width: 100%;
  max-width: 900px;
  /* padding: 0px 20px; */
  margin: 4rem auto;
  margin-bottom: 0;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: white;
  /* background-color: #f0f4f9; */
  background-color: #0d0d0dfa;
  padding: 8px 26px;
  border-radius: 13px;
  margin-bottom: 20px;
}
.search-box i {
  width: 40px;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  /* box-shadow: 1px 1px 1px black; */
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}
.search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}
/* .main .bottom-info {
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
} */
.result {
  padding: 0px 5%;
 max-height: 82vh;
  /* width: 51rem; */
  overflow-y: scroll;
}

/* .result::-webkit-scrollbar {
  display: none;
} */

.result::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
  background-color: transparent;
}

.result::-webkit-scrollbar-thumb {
  background: rgb(81, 81, 83);
  border-radius: 10%;
}
.result-title {
  margin: 40px 0px 30px 0px;
  display: flex;
  align-items: start;
  gap: 20px;
  line-height: 3rem;
  padding: 5px;
  background-color: #e7ebf0;
}
.result img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  mix-blend-mode: darken;
}
.result-data {
  margin-top: -22px;
  display: flex;
  align-items: start;
  gap: 20px;
  padding: 14px;
  background-color: #f9fafa30;
}
.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loader hr {
  border-radius: 4px;
  border: none;
  /* background-color: #f6f7f8 ; */
  /* background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff); */
  background-color: #a9c9ff;
  background: linear-gradient(to right, #a9c9ff, #ffbbec, #8fd3e9b7);
  height: 20px;
  animation: loader 3s infinite linear;
}
@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}
.result-data p {
  font-size: 16px;
  font-weight: 300px;
  line-height: 2;
  color: black;
}

@media screen and (max-width: 700px) {
  .main .card p {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .main .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 26px;
    padding: 0px 55px;
  }
  .main .card p {
    font-size: 17px;
    line-height: normal;
  }
  .greet p {
    font-size: 2rem;
  }
  .main .greet {
    margin: 31px 19px;
    font-size: 59px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 15px;
  }
}

.Main-page {
  margin-top: -3rem;
  margin-bottom: -3rem;
}

.graph-container {
  height: 13rem;
}

.related-questions-container {
  max-width: 100%;
  /* overflow-x: auto; */
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  /* margin-top: 0; */
  padding: 1.05rem 1rem;
}

.table-section h2 {
  margin-bottom: -1.4rem;
}
