:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}
.newslater {
  background-color: var(--background-color);

  /* max-width: 1280px; */
  height: 30vh;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: var(--light-gray);
}
.newsletter-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  /* margin: 0 20rem; */
  align-items: center;
  justify-content: center;
}



.news-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.news-info {
  padding: 0 3rem;
}
.news-info h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
}
.news-desc {
  text-align: left;
  color: var(--gray);
}
.news-form {
  padding: 0 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}
.news-emial {
  background-color: var(--background-color);
  color: #333333;
  border: 1px solid rgb(11, 10, 10);
  border-radius: 4px;
  padding: 0.5rem 0.7rem;
}
.news-emial:focus {
  border: #acbee6;
}
.send-button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  border: none;
  background-size: 200% 100%;
  color: var(--background-color);
  cursor: pointer;
  transition: all 0.3s;
}
.send-button:hover {
  background-color: #380bde;

}
.footer {
  margin-top: 1rem;
  display: flex ;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.footer>div>a{
  color: #143be8;
}
.footer span{
  color: black;
}

@media screen and (min-width: 748px) and (max-width: 820px){
  .newsletter-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 2rem;
    align-items: center;
    justify-content: center;
  }
  .news-right {
    width: 50%;
  }
  .news-form{
    padding: 0 2rem;
  }

  .news-info h2 {
    font-size: 2.s5rem;
  }
}

@media screen and (max-width: 748px) {
  .newsletter-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
    width: 25rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  .news-left h2{
    font-size: 1.2rem;
  }
}
