.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #f0f4f9;
  /* background-color: #ccd3dc; */
  padding: 25px 15px;
  border-right: 1px solid black;
}

.sidebar .top i {
  width: 20px;
}
.sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
  transition: 1s;
  font-size: 1.7rem !important;
}
.sidebar .newchat {
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 45px;
  /* background-color: #e6eaf1; */
  background-color: #4de6f599;
  border-radius: 50px;
  font-size: 14px;
  color: grey;
  cursor: pointer;
}
/* .sidebar .newchat p{
  color: black;
} */
.sidebar .recent {
  display: flex;
  flex-direction: column;
}
.sidebar .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.sidebar .recent-entry {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  /* padding-right: 40px; */
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
}
.sidebar .recent-entry:hover {
  background-color: #e2e6eb;
}
.sidebar .top i,
.bottom-item i {
  font-size: 1.2rem;
}
.sidebar .bottom {
  display: flex;
  flex-direction: column;
}
.sidebar .bottom-item {
  padding-right: 10px;
  cursor: pointer;
}
.user-profile {
  display: flex;
  gap: 2rem;
  align-items: center;
  height: 3rem;
  cursor: pointer;
}
.user-profile img {
  width: 2.7rem;
  mix-blend-mode: darken;
}
@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
.sidebar .recent-entry .popup {
  position: fixed;
  top: 80%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.sidebar .recent-entry .popup p {
  margin-bottom: 10px;
}

.sidebar .recent-entry .popup button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.sidebar .recent-entry .popup button:hover {
  background-color: #0056b3;
}

