.signup-conatainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 30px;
}
.signup-conatainer h2 {
  text-align: center;
  color: rgb(131 131 129);
  margin-bottom: 1rem;
}
.googleButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
.googleButton button{
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  cursor: pointer;
  padding: 8px 10px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(3 83 188 / 87%);
  padding: 0.5rem 8rem;
  
}
.googleButton button span{
  color: white;
  font-size: 22px;
  line-height: 10px;

}
.googleButton button p{
  color: white;
  line-height: 22px;
}
.nameConatainer {
  display: flex;
  gap: 2rem;
  padding:1rem 2rem;
}
.nameConatainer input {
  border: 2px solid black;
  outline: none;
  border-radius: 20px;
  padding: 8px 10px;
}
.email-conatainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}
.email-conatainer input {
  border: 2px solid black;
  outline: none;
  padding: 8px 10px;
  margin: 0 2.3rem;
  border-radius: 20px;
}
.lastButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}
.lastButton button {
  cursor: pointer;
  padding: 8px 10px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(131 131 129);
  padding: 0.5rem 8rem;
}

.lastButton p {
  font-size: 14px;
}

.line {
  display: flex;
  align-items: center;
  width: 100%;
}

.line::before,
.line::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid black;
}

.text {
  padding: 0 10px;
}
