@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;
body::-webkit-scrollbar {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background: rgb(42, 41, 41);
    border-radius:20px;
}
#root{
  /* min-height: 100vh;
  display: flex; */
  animation:anime 2s;
}
@keyframes anime{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
/* .botoom-strip{
  animation:anime 2s;

} */